$f-16: 16px;
$f-18: 18px;
$main-color: #2196f3;
$main-color-alt: #197aca;
$red-color: #f44036;
$green-color: #009688;
$blue-color: #03a9f4;
$text-color: #666;
$main-transition: 0.3s;
$main-padding-top: 100px;
$main-padding-bottom: 100px;
$section-background: #ececec;
$hover-bg: #fafafa;
